# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
Thumbs.db
Desktop.ini

# Python-specific files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
env/
venv/
ENV/
__pypackages__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs and coverage reports
*.log
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files

## PyCharm
.idea/

## VSCode
.vscode/*
!.vscode/settings.json

# Temporary files created by editors or OS
*.swp
*~
